<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			body {
				background: black;
			}

			video {
				height: 100%;
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
			}
		</style>
		<title>Player</title>
	</head>

	<body>
		<video autoplay controls type="{{ videoType }}" src="{{ videoUrl }}" preload="metadata">
			<track label="Subtitle" kind="subtitles" srclang="{{ srclang }}" src="subtitles.vtt" default>
		</video>
	</body>
</html>
