<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>My player</title>
	</head>

	<body>
		<h1>Player</h1>

		<video autoplay
				controls
				type="video/mp4"
				src="{{ videoUrl }}"
				preload="metadata">

			<track label="Portuguese"
					kind="subtitles"
					srclang="pt"
					src="subtitles.vtt"
					default>

		</video>
	</body>
</html>
